---
import Image from "astro/components/Image.astro";
import DupaLogo from '../assets/my_logo.png'
---

<header>
	<a href="/">
		<Image src={DupaLogo} alt="Dupa Games home button" width={64} />
	</a>
</header>