---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<div class="bg">
		<header>
			<h1 class="top-text">The Coolmath Games Promise</h1>
			<h2 class="late-90s">Since 1997, we've been...</h2>
		</header>
		<ul class="griddy">
			<li class="same-side">
				<img src="/practice-pics/thoughtfully-curated.svg" />
				<div>
					<h3 class="title">Thoughtfully Curated</h3>
					<p class="desc">
						Our team of experts has handpicked 2,500 games designed to make you
						think!
					</p>
				</div>
			</li>
            <li class="same-side">
                <img src="/practice-pics/privacy-focused.svg" />
                <div>
                    <h3 class="title">Privacy Focused</h3>
                    <p class="desc">
                        We minimize data collection to respect your sensitive Personally Identifiable Information.
                    </p>
                </div>
            </li>
            <li class="same-side">
				<img src="/practice-pics/learning-through-fun.svg" />
				<div>
					<h3 class="title">Learning Through Fun</h3>
					<p class="desc">
						We seek out games that exercise critical thinking skills, develop numeracy, and explore creativity.
					</p>
				</div>
			</li>
            <li class="same-side">
				<img src="/practice-pics/accessible.svg" />
				<div>
					<h3 class="title">Accessible</h3>
					<p class="desc">
						We’re committed to digital accessibility and WCAG 2.2 compliant.
                    </p>
				</div>
			</li> 
		</ul>
	</div>
</Layout>

<style>
	.bg {
		border-radius: var(--radius-lg);
		background-color: #131b29;
		padding: var(--gap-8);
		width: 800px;
	}

	.top-text {
		font-weight: 600;
	}

	.late-90s {
		color: #ffe420;
		font-weight: 500;
	}

	header {
		font-family: sans-serif;
		text-align: center;
	}

	.same-side {
		display: flex;
		flex-direction: row;
		gap: var(--gap-2);
	}

	.desc {
        padding-top: var(--gap-2);
	}

    .griddy {
        display: grid;
		grid-template-columns: 1fr 1fr;
        gap: var(--gap-8);
        padding-top: var(--gap-8);
    }
</style>
