---
import Layout from '@/layouts/Layout.astro';
---

<!-- 
	TOP TIP:
		- go section by section NOT element by element
		- you are trying to do images first, then text, etc
		- you should do first item in top row, then second, then bottom row
-->
<Layout>
	<div class="bg">
		<div class="game-grid">
			<div class="game-card">
				<!-- <h4 class="nu-update">NEW UPDATE!</h4> -->
				<img src="/practice-pics/blursed-mugen.jpg" />
				<h1 class="">
					Carnage King of Action Street Smash Death Ultra Fighters 3 & Knuckles
					Featuring Dante from the Devil May Cry Series Remastered Edition
				</h1>
				<p>Crazy Crossover Fighting Game!</p>
			</div>
			<div class="game-card">
				<!-- <h4 class="ten-top">TOP 10</h4> -->
				<img src="/practice-pics/left-4-dead-3.jpg" />
				<h1>Left 4 Dead 3</h1>
				<p>FPS Zombie Game!</p>
			</div>
		</div>
		<div class="inside-image">
			<h2>Congratulations Game Jam Winners</h2>
			<h4>Congratulations to the 3 game winners!</h4>
			<h4>Their games really broke the bank!</h4>
			<button>Check 'Em Out!</button>
		</div>
		<!-- <h2>how to play:</h2>
		<h4>arrows keys or wasd to move</h4>
		<h4>:, '', . or / to attack</h4>
		<h4>space to jump</h4>
		<h4>shift to crouch</h4>
		<h4>a, s, z or x to taunt</h4>
		<h4>p to pause</h4>
		<h4>esc to quit</h4> -->
	</div>
</Layout>

<style>
	.bg {
		border-radius: var(--radius-lg);
		background-color: black;
		padding: var(--gap-8);
		width: 800px;
		display: flex;
		flex-direction: column;
		flex-direction: center;
	}

	img {
		overflow: hidden;
		object-position: center center;
		object-fit: cover;
	}
	
	.game-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap-4);
		padding: var(--gap-4);
	}
	
	.game-card {
		position: relative;
		border-radius: var(--radius-lg);
	}

	button {
		background-color: yellow;
		width: 256px;
		border-radius: var(--radius-xs);
		color: brown;
		padding-right: var(--gap-8);
		padding-left: var(--gap-8);
		padding-top: var(--gap-2);
		padding-bottom: var(--gap-2);
	}

	h1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* padding: var(--gap-3) var(--gap-5); */
		background-color: #131b29;
		/* border-bottom-left-radius: var(--radius-md);
		border-bottom-right-radius: var(--radius-md); */
	}
	
	p {
		color: lightgray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* padding: var(--gap-3) var(--gap-5); */
		background-color: #131b29;
		border-bottom-left-radius: var(--radius-md);
		border-bottom-right-radius: var(--radius-md);
	}

	.inside-image {
		background-image: url('/practice-pics/pig-astronaut.jpg');
		border-radius: var(--radius-lg);
		height: 575px;
		background-size: cover;
		background-position: center;
		display: flex;
		/* align-items: center; */
		justify-content: center;
		flex-direction: column;
		padding-top: 200px;
		padding-left: 32px;
		gap: 4px;
	}

	.nu-update {
		position: absolute;
		background-color: red;
		width: 128px;
		text-align: center;
		transform: rotate(25deg);
	}

	.ten-top {
		border-radius: var(--radius-sm);
		background-color: red;
		width: 128px;
		text-align: center;
	}
</style>
