---
import Layout from '@/layouts/Layout.astro';
// src/pages/index.astro
---

<!-- 
This pages/ folder is special, so this file will now be an endpoint on our url, meaning it can accessed at localhost:4321/homework.

To build the UI component i will need to use the elements <div> <p> <h> <Image>, and then style them using css to match the image. 
I don't need to make anything interactive, this is just an exercise for me to practise writing HTML and CSS.

Tips:
	- use divs to group tags together
	- add spacing to parent elements where possible, using padding and gap
	- use the token vars in tokens.css (DONT hardcode pixel values)
	- Remember to use flex box for layouts
-->
<Layout>
	<div class="card">
		<header>
			<div class="top-row">
				<h2 class="date">July 10</h2>
				<h2 class="top-right">See All</h2>
			</div>
			<h1 class="weekly-games">New This Week</h1>
		</header>
		
		<ul>
			<li class="game-row">
				<img src="/ideas/dd-2k-shoot.png" />
				<div>
					<h1 class="game-name">DD 2K Shoot</h1>
					<h2 class="paragraph-colourer">Pop and match the bubbles!</h2>
				</div>
			</li>
			
			<li class="game-row">
				<img src="/ideas/2048-remastered.jpg" />
				<div>
					<h1 class="game-name">2048 Remastered</h1>
					<h2 class="paragraph-colourer">2048 is back and bigger than ever!</h2>
				</div>
			</li>
			
			<li class="game-row">
				<img src="/ideas/dropstack.png" />
				<div>
					<h1 class="game-name">Dropstack</h1>
					<h2 class="paragraph-colourer">Wake up for the daily block puzzle!</h2>
				</div>
			</li>
			
			<li class="game-row">
				<img src="/ideas/become-the-flame.png" />
				<div>
					<h1 class="game-name">Become the Flame</h1>
					<h2 class="paragraph-colourer">Combine your light to burn bright!</h2>
				</div>
			</li>
		</ul>

	</div>
</Layout>

<style>
	.card {
		border-radius: var(--radius-lg);
		background-color: #131b29;
		padding: var(--gap-8);
	}

	img {
		display: flex;
		border-radius: var(--radius-lg);
		width: 20%;
		padding: var(--gap-2);
	}

	.game-row {
		display: flex;
		flex-direction: row;
		gap: var(--gap-8);
	}

	.paragraph-colourer {
		color: #b3c3d4;
		font-family: 'Figtree', sans-serif;
	}

	.top-row {
		display: flex;
		justify-content: space-between;
	}

	.date {
		color: #b3c3d4;
		font-family: 'Figtree', sans-serif;
		padding-left: var(--gap-2);
	}

	.top-right {
		color: #00c2ff;
		font-family: 'Figtree', sans-serif;
	}

	.game-name {
		font-family: 'Figtree', sans-serif;
		padding-top: var(--gap-4);
	}

	.weekly-games {
		text-align: left;
		font-family: 'Figtree', sans-serif;
		font-size: var(--font-6xl);
		padding-left: var(--gap-2);
	}
</style>
