---
import Layout from '@/layouts/Layout.astro';
// src/pages/index.astro
---

<!-- This pages/ folder is special, so this file will now be an endpoint on our url, meaning it can accessed at localhost:4321/homework.

To build the UI component i will need to use the elements <div> <p> <h> <Image>, and then style them using css to match the image. I don't need to make anything interactive, this is just an exercise for me to practise writing HTML and CSS.

Tips:
- use divs to group tags together
- add padding to parent elements where possible, using padding and gap
- use the token vars in tokens.css (DONT hardcode pixel values)

- Remember to use flex box for layouts
- Start with the larger parts first and work inward, i.e. the card, then the header, then the rows, then the content of each row
- You can choose any images you want, and just copy the text in the screenshot and hardcode it in the elements.


-->


<Layout>
	<div class="card">
		<div class="game-row">
			<img src="/ideas/dd-2k-shoot.png" />
			<div>
				<h1>DD 2K Shoot</h1>
				<p>Pop and match the bubbles!</p>
			</div>
		</div>
		
		<!-- <img src="/ideas/2048-remastered.jpg"/> -->
		<!-- <img src="/ideas/dropstack.png"/> -->
		<!-- <img src="/ideas/become-the-flame.png"/> -->
		<!-- 
			<h1>2048 Remastered</h1>
			<p>2048 is back and bigger than ever!</p>
			<h1>Dropstack</h1>
			<p>Wake up for the daily block puzzle!</p>
			<h1>Become the Flame</h1>
			<p>Combine your light to burn bright!</p> 
		-->
	</div>
</Layout>

<style>
	.card {
		border-radius: var(--radius-lg);
		background-color: #1a202c;
		padding: var(--gap-8);
	}

	img {
		border-radius: var(--radius-lg);
		display: flex;
		width: 20%;
	}

	.game-row {
		display: flex;
		flex-direction: row;
		gap: var(--gap-8);
	}
</style>
