---
import Layout from '../layouts/Layout.astro';

const games = ['space_shooter ', 'trivia ', 'chess ', 'vampire_survivor '];
---

<Layout>
	<p>This is our homescreen</p>

	{
		games.map((game) => (<a href=`/games/${game}` > {game} </a>))
	}
</Layout>
