---
// JavaScript Section
import Layout from '../layouts/Layout.astro';
import GameCard  from '../components/GameCard.astro';
import Swiper from '../components/Swiper.astro';
import { gameData } from '../lib/gameData';
import DupaLogoText from '../assets/my_logo_text.png';
import Image from 'astro/components/Image.astro';
import Header  from '../components/Header.astro';
---

<!-- 
	- Create opaque video reel header at top (https://gamedev.amy-portfolio.com/games)
	- make video section 50% of the view height
	- grid for games with 2 columns
	- game previews to be simple: image, title and 1-line description
-->

<!-- HTML Section -->
<Layout>
	<Header/>
	
	<div class="row-1">
		<h1 class="welcome">WELCOME TO...</h1>
		<Image src={DupaLogoText} alt="Dupa Games Logo" width={200}/>
	</div>

	<!-- <div class="carousel">
		<Swiper>
			{Object.values(gameData).map((game) => (
				<div class="swiper-slide">
					<GameCard 
					title={game['title']}
					image={game['image']}
					description={game['description']}
					href={game['href']}
					/>
				</div>
			))}
		</Swiper>
	</div> -->
				
	<h1 class="carousel-heading">Browse all games</h1>
	<div class="game-grid">
		{Object.values(gameData).map((game) => (
			<GameCard 
				title={game['title']}
				image={game['image']}
				description={game['description']}
				href={game['href']}
			/>
		))}
	</div>

	<!-- 
		We want to style our webpage better - can you:
			- add a heading above the carousel to say something e.g. "Browse all games" 
			- add a welcome heading to the top as well e.g. "Welcome to Dupa Games"
			- either add padding to the carousel or center it on the screen 
	-->

</Layout>

<!-- 
	There are two ways to write CSS in an astro file
	1. Write styles inside page's <style> - only applies to elements in current file
	2. Import a css file from styles/ - can apply to multiple files or globally
-->
	
<!-- CSS Section - allows us to add scoped CSS to our html -->
<style>
	.row-1 {
		display: flex;
		flex-direction: column;
		justify-self: center;
		gap: var(--gap-3);
		height: 40vh;
	}
	
	.welcome {
		color: var(--color-brand);
	}

	.game-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap-6);
		padding: var(--gap-6);
	}


	/* .carousel {
		display: flex;
		flex-direction: column;
		justify-self: center;
		width: 1024px;
	} */

	.carousel-heading {
		color: var(--color-text);
		text-align: center;
		font-size: var(--font-5xl);
	}

</style>