---
// JavaScript Section
import Layout from '../layouts/Layout.astro';
import { Carousel } from 'webcoreui/astro';
import Image from 'astro/components/Image.astro';
import chessImage from '../assets/thumbnails/chess_preview.png';
import '../styles/global.css';

const games = ['trivia', 'chess', 'vampire_survivor', 'space_shooter'];
---

<!-- HTML Section -->
<Layout>
	<p>This is our homescreen</p>
	<Carousel items={3}>
    	{games.map((game) => (<li><a href=`/games/${game}` >  {game}  </a></li>))}
	</Carousel>

	<div class="game-card">
		<div class="thumbnail"><Image src={chessImage} alt="chess-img"/></div>
		<h4>Chess Reboot</h4>
		<p class="game-description">This is placeholder text for the game description</p>
	</div>
</Layout>

<!-- CSS Section - allows us to add scoped CSS to our html -->
<style>
	.game-card {
		width: 256px;
		height: auto;
	}

	.thumbnail {
		width: 100%;
		height: 100%;
		
		img {
			/* display: block; */
			width: 100%;
			height: 100%;
			border-radius: 1rem;
			overflow: hidden;
			object-position: center center;
			object-fit: cover;
		}
	}

	.game-description {
		color: dimgray;
	}
</style>