---
import Layout from '../../layouts/Layout.astro';
import Header  from '../../components/Header.astro';
import { gameData } from '../../lib/gameData';

// import the gameData structure and use the href values in it instead.

export async function getStaticPaths() {
  return [
    { params: { game: gameData['space_shooter']['hrefSuffix'] } },
    { params: { game: gameData['chess']['hrefSuffix'] } },
    { params: { game: gameData['trivia']['hrefSuffix'] } },
    { params: { game: gameData['vampire_survivor']['hrefSuffix'] } }
  ];
}

const { game } = Astro.params;
---
<Layout>
  <Header/>
  <p>This is the current game: {game}</p>
  <iframe 
    src={`/games/${game}/build/web/index.html`} 
    allow="autoplay; fullscreen"
    style="width: 1280px; height: 720px; border: 0;"
  />
<!-- allow="cross-origin-isolated" -->
</Layout>