---
import Layout from '@/layouts/Layout.astro';
import Header  from '@/components/Header.astro';
import { gameData } from '@/lib/gameData';
import DupaLogo from '@/assets/my_logo.png';
import Image from 'astro/components/Image.astro';
import Button from '@/components/Button.astro';

import FullScreenIcon from '@lucide/astro/icons/expand';
import ControlsPopover from '@/components/ControlsPopover.astro';

/* 
  - center the iframe
  - add a title + description
*/

export async function getStaticPaths() {
  return [
    { params: { game: gameData['space_shooter']['hrefSuffix'] } },
    { params: { game: gameData['chess']['hrefSuffix'] } },
    { params: { game: gameData['trivia']['hrefSuffix'] } },
    { params: { game: gameData['vampire_survivor']['hrefSuffix'] } }
  ];
}

const { game } = Astro.params;
---

<!-- 
 - I want you to make the FullScreenIcon a clickable button
 - it wont do anything yet, just make it visually clickable
-->


<Layout>
  <Header/>
  <!-- <p>This is the current game: {game}</p> -->
  <div class="game-window">
    <!-- <h1 class="title">{gameData[game]['title']}</h1> -->
    
    <iframe
      src={`/games/${game}/build/web/index.html`} 
      allow="autoplay; fullscreen"
      style="width: 1280px; height: 720px; border: 0;"
    />
    <!-- allow="cross-origin-isolated" -->
    
    <footer>
      <div class="left-items">
        <Image src={DupaLogo} alt="Dupa Games Logo" width={80}/> 
        <div class="game-info">
          <h4 class="game-type">Trivia</h4>
          <h1>Can Ya Nail it?</h1>
        </div>
      </div> 
      
      <div class="icons">
        <ControlsPopover />
        <Button><FullScreenIcon size={44} /></Button>
      </div>
    </footer>

    <!-- <p class="game-description">{gameData[game]['description']}</p> -->
  </div>
</Layout>

<style>
  .game-window {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title {
    font-size: var(--font-5xl);
  }
  
  .game-description {
    color: var(--color-text-muted);
    font-size: var(--font-l);
  }

  .game-type {
    color: var(--color-brand)
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-3) var(--gap-5);
    
    background-color: var(--color-surface);
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  .icons {
    display: flex;
    gap: var(--gap-6);
    align-items: center;
  }
  
  .left-items {
    display: flex;
    gap: var(--gap-4);
  }

</style>